[package]
name = "fluvio-connectors-common"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "1.0.127", features = ["derive"] }
schemars = "0.8"
structopt = "0.3"

fluvio-smartengine = { version = "0.0.0", features = ["smartmodule"] }
anyhow = "1.0.44"
fluvio-controlplane-metadata = "0.12.3"

[dev-dependencies]
serde_yaml = "0.8.18"
